// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name:                &; // #{$block-name}__element

  background-color: #fff;
  text-transform: uppercase;
  font-size: $font-size;
  line-height: $font-size + 12;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {}

  &__link {
    display: block;
    padding: 7px 20px;
    color: #000;

    #{$block-name}__item--active > & {
      background-color: $main-color--lighten;
    }
  }
}
