// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;
  background-color: #fff;
  text-transform: uppercase;
  font-size: $font-size;
  line-height: $font-size + 12;

  @media (min-width: $screen-lg) {
    background-color: $main-color;
  }

  &__inner {
    padding-right: 22px;
    padding-left: 22px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-lg) {
      width: 1180px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
    }

  }

  &__list-lvl-2 {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      opacity: 0;
      visibility: hidden;
      background-color: $main-color--dark;
      transition: opacity 0.3s;

      #{$block-name}__item:hover & {
        width: auto;
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__list-lvl-3 {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      background-color: $main-color--dark;
      transition: opacity 0.3s;

      #{$block-name}__item-lvl-2:hover & {
        width: auto;
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__item {
    position: relative;

    @media (min-width: $screen-lg) {

      &--submenu > #{$block-name}__link {
        padding-right: 40px;
        background-color: $main-color--dark;

        &:after {
          content: '';
          position: absolute;
          top: 10px;
          right: 19px;
          width: 10px;
          height: 10px;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #fff;
          transform: rotate(-45deg);
        }
      }
    }

  }

  &__item-lvl-2 {
    position: relative;
  }

  &__link {
    position: relative;
    display: block;
    padding: 7px 16px;
    color: #000;
    text-decoration: none;

    @media (min-width: $screen-lg) {
      color: #fff;
    }

    #{$block-name}__item > & {
      white-space: nowrap;
    }

    #{$block-name}__item--active > & {
      background-color: $main-color--lighten;
    }

    #{$block-name}__list-lvl-2 & {
      white-space: nowrap;
    }
  }
}
