// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {

  $block-name:                &; // #{$block-name}__element

  display: none;

  .owl-nav {
    display: none;
  }

  @media (min-width: $screen-sm) {
    display: block;
    background-color: $main-color--light;
    color: #fff;

    &__item-inner {
      min-height: 354px;
      position: relative;
      width: 720px;
      margin: auto;
      padding-right: 280px;
      padding-bottom: 0;
    }

    &__title {
      font-size: 38px;
      text-transform: uppercase;
      padding-top: 43px;
      margin-top: 0;
      margin-bottom: 20px;
      white-space: nowrap;
    }

    &__descr {
      font-size: $font-size+2;
      color: #B0DDF2;
      letter-spacing: 1px;
    }

    &__img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      max-width: none;

      &--boy {
        height: auto;
        width: auto !important;
        right: -62px;
        bottom: -45px;
      }
    }
  }

  @media (min-width: $screen-lg) {

    &__item-inner {
      min-height: 400px;
      width: 1136px;
      padding-right: 570px;
      padding-bottom: 0;
    }

    &__title {
      font-size: 48px;
      line-height: 57px;
      margin-bottom: 42px;
      padding-top: 48px;
    }

    &__img {

      &--boy {
        right: -70px;
        bottom: 0;
      }

    }

  }
}
