// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {

  $block-name:                &; // #{$block-name}__element

  display: none;

  .owl-nav {
    display: none;
  }

  @media (min-width: $screen-sm) {
    display: block;
    height: 354px;
    background-color: $main-color--light;
    color: #fff;

    .owl-stage-outer {
      height: 354px;
    }

    .owl-dots {
      display: flex;
      position: absolute;
      left: 50%;
      bottom: 40px;
      transform: translateX(-360px);
    }

    .owl-dot {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12px;
      height: 12px;
      margin-right: 7px;

      span {
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
      }

      &.active span{
        width: 12px;
        height: 12px;
        background-color: $main-color;
        border: none;
      }
    }

    &__item-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 354px;
      position: relative;
      width: 720px;
      margin: auto;
      padding-right: 280px;
      padding-bottom: 90px;
    }

    &__title {
      font-size: 38px;
      text-transform: uppercase;
      padding-top: 43px;
      margin-top: 0;
      margin-bottom: 20px;
      white-space: nowrap;
    }

    &__descr {
      letter-spacing: 0.06em;
      max-width: 380px;
      margin-bottom: auto;
      color: $text-color-light;
    }

    &__img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      max-width: none;
      width: auto !important;
      height: 354px;

      .owl-item & {
        opacity: 0;
        transition: opacity 0.3s;
      }

      .owl-item.active & {
        opacity: 1;
      }

      &--boy {
        right: -150px;
        bottom: -45px;
      }

      &--laughing-woman-mouth {
        height: 354px;
        right: -100px;
        bottom: 0;
      }

      &--dentist {
       right: -100px;
      }
    }
  }

  @media (min-width: $screen-lg) {

    height: 400px;

    .owl-stage-outer {
      height: 400px;
    }

    &__item-inner {
      min-height: 400px;
      width: 1136px;
      padding-right: 570px;
      padding-bottom: 0;
    }

    &__title {
      font-size: 48px;
      line-height: 57px;
      margin-bottom: 38px;
      padding-top: 44px;
    }

    &__img {

      &--boy {
        right: -70px;
        bottom: 0;
      }

      &--laughing-woman-mouth {
        right: -183px;
        height: auto;
        width: auto !important;
      }

      &--dentist {
       right: -100px;
       height: auto;
       width: auto !important;
      }

    }

    .owl-dots {
      transform: translateX(-568px);
      bottom: 73px;
    }

    &__descr {
      max-width: 680px;
    }

  }
}
