// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {

  $block-name:                &; // #{$block-name}__element

  display: none;

  .owl-nav {
    display: none;
  }

  @media (min-width: $screen-sm) {
    display: block;
    height: 354px;
    background-color: $main-color--light;
    color: #fff;
  }

  @media (min-width: $screen-lg) {
    height: 400px;
  }

  .owl-stage-outer {

    @media (min-width: $screen-sm) {
      height: 354px;
  }

    @media (min-width: $screen-lg) {
    height: 400px;
    }
  }

  .owl-dots {

    @media (min-width: $screen-sm) {
      display: flex;
      position: absolute;
      left: 50%;
      bottom: 40px;
      transform: translateX(-360px);
    }

    @media (min-width: $screen-lg) {
      transform: translateX(-568px);
      bottom: 73px;
    }
  }

  .owl-dot {

    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12px;
      height: 12px;
      margin-right: 7px;

      span {
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
      }

      &.active span{
        width: 12px;
        height: 12px;
        background-color: $main-color;
        border: none;
      }
    }
  }

  &__item-inner {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 354px;
      position: relative;
      width: 720px;
      margin: auto;
      padding-right: 280px;
      padding-bottom: 90px;
    }

    @media (min-width: $screen-lg) {
      min-height: 400px;
      width: 1136px;
      padding-right: 570px;
      padding-bottom: 120px;
    }
  }

  &__title {

    @media (min-width: $screen-sm) {
      font-size: 38px;
      text-transform: uppercase;
      padding-top: 43px;
      margin-top: 0;
      margin-bottom: 0;
      white-space: nowrap;
    }

    @media (min-width: $screen-lg) {
      font-size: 48px;
      line-height: 57px;
      padding-top: 44px;
    }
  }

  &__descr {

    @media (min-width: $screen-sm) {
      letter-spacing: 0.06em;
      max-width: 380px;
      margin-top: auto;
      margin-bottom: auto;
      color: $text-color--light;
    }

    @media (min-width: $screen-lg) {
      max-width: 680px;
    }
  }

  &__img {

    @media (min-width: $screen-sm) {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      max-width: none;
      width: auto !important;
      height: 354px;

      .owl-item & {
        opacity: 0;
        transition: opacity 0.3s;
      }

      .owl-item.active & {
        opacity: 1;
      }
    }

    &--boy {

      @media (min-width: $screen-sm) {
        right: -150px;
        top: 0;
        bottom: -45px;
      }

      @media (min-width: $screen-lg) {
        right: -70px;
        bottom: 0;
        top: 0;
        height: 400px;
      }
    }

    &--laughing-woman-mouth {

      @media (min-width: $screen-sm) {
        height: 354px;
        right: -100px;
        bottom: 0;
      }

      @media (min-width: $screen-lg) {
        right: -183px;
        height: auto;
        width: auto !important;
      }
    }

    &--dentist {

      @media (min-width: $screen-sm) {
        right: -100px;
      }

     @media (min-width: $screen-lg) {
       right: -100px;
       height: auto;
       width: auto !important;
     }
    }
  }

}
