// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $screen-sm) {
      margin: auto;
      padding-left: 14px;
      padding-right: 14px;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: column-reverse;
      padding-right: 22px;
      padding-left: 22px;
      margin-left: 130px;
      margin-right: 130px;


    }
  }

  &__main-line {

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__second-line {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      border-bottom: 1px solid $main-color--lighten;
      justify-content: space-between;
      padding-top: 13px;
      padding-bottom: 13px;

    }
  }

  &__opened {
    color: $gray;

    svg {
      display: inline-block;
      vertical-align: 0.1em;
      fill: $main-color;
    }
  }

  &__addresses {
    display: none;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
    }

  }

  .addresses {

    &__city {
      color: $gray;
    }

    &__phone {
      font-size: $font-size+2;
      font-weight: bold;
      text-decoration: none;
      color: #000;
    }

    &__item-left {
      padding-right: 60px;
    }

  }

  &__email {
    color: $gray;
    text-decoration: none;
  }

  &__email-text {
    text-decoration: underline;
  }


  .btn-wrap {

    margin-top: 25px;
    margin-bottom: 33px;
    margin-left: 80px;

    &__btn {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
        padding: 18px 20px;
        float: right;
        background-color: $main-color;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: $font-size;
        line-height: $font-size+2;
        text-align: center;
      }

      &__text {

      }
    }
  }

  &__logo-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid $main-color--lighten;
    margin-bottom: 35px;
    margin-right: auto;

    @media (min-width: $screen-sm) {
      border-bottom: none;
      margin-bottom: 0;
      margin-right: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .burger {

    @media (min-width: $screen-lg) {
      display: none;
    }
}
}
