// В этом файле должны быть стили для БЭМ-блока social-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social-list {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;

  &__item {
    margin-right: 10px;
  }

}
