// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  padding: 20px 23px;
  background-color: $main-color;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: $font-size;
  line-height: $font-size+2;
  text-align: center;

}
