// В этом файле должны быть стили для БЭМ-блока info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.info {

  $block-name:                &; // #{$block-name}__element

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {
    font-size: $font-size--h2;
    line-height: $font-size--h2+4;
    text-transform: uppercase;
    margin-top: 34px;
    margin-bottom: 36px;
  }

  @media (min-width: $screen-sm) {

    &__inner {
      width: 720px;
      margin: auto;
      padding: 0;
    }

    &__title {
      font-size: $font-size--sm-headers;
      line-height: $font-size--sm-headers + 2;
      margin-top: 113px;
    }
  }

  @media (min-width: $screen-lg) {


    &__inner {
      width: 1140px;
      margin: auto;
    }

    &__title {
      font-size: $font-size--lg-headers;
      margin-top: 73px;
    }
  }

}
