// В этом файле должны быть стили для БЭМ-блока services, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-size: $font-size--h2;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 22px;
    margin: 0 0 30px 0;
  }

  &__inner {
    padding: 37px 20px 0 20px;

    @media (min-width: $screen-sm) {
      width: 748px;
      margin: auto;
      padding-left: 14px;
      padding-right: 14px;
    }

    @media (min-width: $screen-lg) {
      width: 1180px;
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  &__list {
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      width: 220px;
      margin: 0 15px 30px 15px;
    }

    @media (min-width: $screen-lg) {
      width: 260px;
    }
  }

  &__dscr {
    margin-bottom: 10px;

    @media (min-width: $screen-lg) {
      margin-bottom: 60px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      padding-top: 10px;
      padding-bottom: 20px;
      margin-top: 0;
      margin-bottom: 0;
    }

  }

}
