// В этом файле должны быть стили для БЭМ-блока promotions, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promotions {

  $block-name:                &; // #{$block-name}__element

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__inner {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $screen-sm) {
      padding-left: 0;
      padding-right: 0;
      width: 720px;
      margin: auto;
    }
  }

  &__title {
    font-size: $font-size--h2;
    margin-top: 27px;
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  &__list-item {
    width: 271px;
  }

  @media (min-width: $screen-sm) {

    &__list {
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__list-item {
      margin-bottom: 30px;
    }

    &__title {
      margin-top: 56px;
      margin-bottom: 30px;
    }

  }

}
