// В этом файле должны быть стили для БЭМ-блока promotions, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promotions {

  $block-name:                &; // #{$block-name}__element

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: $screen-lg) {
      justify-content: flex-start;
      margin-right: -12px;
      margin-left: -12px;
    }
  }

  &__inner {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $screen-sm) {
      padding-left: 0;
      padding-right: 0;
      width: 720px;
      margin: auto;
    }

    @media (min-width: $screen-lg) {
      padding-left: 0;
      padding-right: 0;
      width: 1140px;
      margin: auto;
    }
  }

  &__title {
    font-size: $font-size--h2;
    margin-top: 27px;
    margin-bottom: 35px;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-top: 56px;
      margin-bottom: 30px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 80px;
    }
  }

  &__list-item {
    width: 280px;

    @media (min-width: $screen-sm) {
      margin-bottom: 30px;
    }

    @media (min-width: $screen-lg) {
      margin-right: 12px;
      margin-left: 12px;
    }
  }

  .owl-nav {

    @media (min-width: $screen-xs) {
      display: flex;
      justify-content: flex-end;
      margin-top: 21px;
      margin-bottom: 40px;
    }
  }

  .owl-prev {

    @media (min-width: $screen-xs) {
      width: 40px;
      height: 40px;
      border: 0;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-image: url(../img/arrow-prev.svg);
      margin-right: 10px;
    }
  }

  .owl-next {

    @media (min-width: $screen-xs) {
      width: 40px;
      height: 40px;
      border: 0;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-image: url(../img/arrow-next.svg);
    }
  }

}
