// В этом файле должны быть стили для БЭМ-блока share, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.share {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-size: $font-size + 4;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid $text-color-light;
    padding-bottom: 10px;

    @media (min-width: $screen-sm) {
      margin-right: 55px;
    }
  }
}
