// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background-color: $main-color;

  @media (min-width: $screen-sm) {
    padding-top: 44px;
  }

  &__inner {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $screen-sm) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
      width: 720px;
      margin: auto;
    }

    @media (min-width: $screen-lg) {
      width: 1140px;
    }
  }

  &__about-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    width: 180px;
  }

  &__services-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    width: 180px;
  }

  &__item a {
    text-decoration: none;
    color: $text-color--light;
  }

  &__item a:hover {
    text-decoration: underline;
  }

  &__title {
    font-size: $font-size + 4;
    text-transform: uppercase;
    color: #fff;
    padding-top: 26px;
    padding-bottom: 14px;
    border-bottom: 1px solid $text-color--light;
    margin-top: 0;

    @media (min-width: $screen-sm) {
      padding-top: 10px;
    }
  }

  &__contacts-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 34px;

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__address {
    position: relative;
    display: block;
    padding-left: 24px;
    margin-bottom: 7px;
    color: #fff;

    svg {
      position: absolute;
      top: 0;
      left: 3px;
    }
  }

  &__phone {
    position: relative;
    display: block;
    font-size: $font-size--h2;
    padding-left: 26px;
    margin-bottom: 7px;
    color: #fff;
    text-decoration: none;

    svg {
      position: absolute;
      top: 6px;
      left: 0;
    }
  }


  &__opened {
    position: relative;
    display: block;
    padding-left: 25px;
    color: #fff;

    svg {
      position: absolute;
      left: 0;
    }
  }

  &__license {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 13px;
    margin-bottom: 39px;

    @media (min-width: $screen-sm) {
      margin-top: 26px;
    }
  }

  &__about {

    @media (min-width: $screen-sm) {
      margin-right: 60px;
      width: 158px;
    }

    @media (min-width: $screen-lg) {
      width: 165px;
      margin-right: 30px;
    }
  }

  &__services {

    @media (min-width: $screen-sm) {
      width: 502px;
    }

    @media (min-width: $screen-lg) {
      width: 262px;
      margin-right: 95px;
    }
  }

  &__contacts {

    @media (min-width: $screen-sm) {
      width: 720px;
    }

    @media (min-width: $screen-lg) {
      width: 588px;
    }
  }

  &__contacts-item {

    margin-bottom: 23px;

    @media (min-width: $screen-sm) {
      margin-right: 65px;
    }
  }


  &__last-block {

    padding-top: 14px;
    padding-bottom: 37px;
    border-top: 1px solid $text-color--light;
    text-align: center;
    color: $text-color--light;

    @media (min-width: $screen-sm) {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 30px;
      border-top: 1px solid #fff;
      text-align: center;
      color: $text-color--light;
    }

    @media (min-width: $screen-lg) {
      line-height: 14px;
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 23px;
    }
  }

  &__copyright {

    margin-bottom: 12px;

    @media (min-width: $screen-sm) {
      padding-bottom: 10px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 0;
    }

  }

}
