// В этом файле должны быть стили для БЭМ-блока social-link, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social-link {

  $block-name:                &; // #{$block-name}__element

  display: block;

  span {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
  }

  svg {
    max-width: 32px;
    max-height: 32px;
    fill: #fff;
  }


}
