//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/page-header/page-header.pug
include blocks/burger/burger.pug
include blocks/logo/logo.pug
include blocks/addresses/addresses.pug
include blocks/btn/btn.pug
include blocks/services/services.pug
include blocks/service-minicard/service-minicard.pug
include blocks/promotions/promotions.pug
include blocks/about/about.pug
include blocks/slider/slider.pug
include blocks/promotion/promotion.pug
include blocks/partners/partners.pug
