$gray-dark:                   #262626;
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  #D5D5D5;

$main-color--lighten:         #E9F5F9;
$main-color--light:           #69C3E9;
$main-color:                  #6AB9D6;
$main-color--dark:            #439FBC;
$second-color:                #3E904E;
$second-color-light:          #E8F4F9;
$text-color:                  #FFFFFF;
$link-color:                  #3CA1CE;
$text-color-light:            #dcf0f9;

$text-color:                  $gray-dark;

$font-family:                 'Rubik', sans-serif;
$font-family--headers:        'Open Sans', sans-serif;
$font-size:                   14px;
$font-size--h1:               22px;
$font-size--h2:               22px;
$font-size--service-minicard: 16px;
$font-size--sm-headers:       24px;
$font-size--lg-headers:       26px;
$line-height:                 1.429;

$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;
