// В этом файле должны быть стили для БЭМ-блока service-minicard, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.service-minicard {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 20px;
  list-style-type: none;

  &:last-child {
    margin-bottom: none;
  }

  &__link {
    display: block;
    padding: 13px 100px 13px 20px;
    min-height: 64px;
    background-color: $main-color;
    color: #fff;
    font-weight: 700;
    font-size: $font-size--h2;
    line-height: $font-size--h2 + 2;
    text-decoration: none;

    &:hover,
    &:active {
      color: #fff;
      text-decoration: none;
    }
  }

  &__text {
    display: block;
    max-width: 140px;
  }

  &__img {
    display: none;
  }
}
