// В этом файле должны быть стили для БЭМ-блока service-minicard, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.service-minicard {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: $main-color;
  color: #fff;
  font-weight: 700;
  font-size: $font-size--h2;
  line-height: $font-size--h2 + 2;
  text-decoration: none;

  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
  }

  @media (min-width: $screen-sm) {
    padding-top: 120px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 165px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__text {
    display: block;
    min-height: 63px;
    padding: 13px 65px 13px 20px;

    @media (min-width: $screen-lg) {
      padding-right: 90px;
    }
  }

  &__img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover;

    @media (min-width: $screen-sm) {
      display: block;
      height: 120px;
      width: 220px;
    }

    @media (min-width: $screen-lg) {
      display: block;
      height: 165px;
      width: 260px;
    }
  }
}
